/*Header navbar menu color */

:root {
  --logo-color: rgba(41, 22, 111,1);
}

.navbar
{
    background-color:#fff;
}

.w_menu .nav-item .nav-link
{
    color: var(--logo-color);
}

.w_menu .nav-item:hover .nav-link, .w_menu .nav-item.active .nav-link
{
    color:var(--logo-color);
}

.menu > .nav-item:hover .nav-link, .menu > .nav-item.active
{
    color:var(--logo-color);
}

.menu > .nav-item.submenu:hover .dropdown-menu .nav-item .nav-link
{
    color:var(--logo-color);
}
.btn_get_two
{
    background-color:var(--logo-color);
    border-color:var(--logo-color);
}

.btn_get_two:hover
{
    color:var(--logo-color);
}

.contact_form_box .btn_three
{
    background-color:var(--logo-color);
    border-color:var(--logo-color);
}

