/*Header navbar menu color */

:root {
    --logo-color: rgba(27, 18, 76,1);
}

.tcolor {
    color: var(--logo-color);
}

.sec_pad {
    padding: 30px 0px 0px 0px;
}

.blog_content {
    padding: 30px 30px 0px 50px;
}
/*.navbar {
    background-color: #fff;
}*/
/*.navbar-brand
{
    padding-top:1rem;
    padding-bottom:1rem;
}*/
.hamburger-menu-wrepper {
    left: 75%;
    width: 25%;
    background: rgba(27, 18, 76, 0.80);
    /*background: rgba(78, 56, 126,0.80);*/
}

    .hamburger-menu-wrepper .animation-box .menu-box {
        width: 90%;
    }

.navbar .offcanfas_menu > .nav-item .nav-link {
    font-size: 1.5rem;
}

.navbar .offcanfas_menu {
    width: 100%;
    margin-top: -192px;
}

.close_icon {
    z-index: 1000;
}

.menu > .nav-item.submenu .dropdown-menu .nav-item:last-child {
    margin-bottom: 0px;
}

.chat_get_started_area {
    height: 500px;
}

.chat_get_started_area {
    background: url(../img/home-contactus.jpg) no-repeat;
    background-size: cover;
    padding-top: 120px;
}

.f_size_100 {
    font-size: 100px;
}
/*services*/
.ex_team_item .hover_content {
    padding: 0px 15px;
}

.seo_fact_area {
    padding: 120px 0px;
}

.agency_about_area {
    padding: 120px 0px;
}

.saas_featured_area {
    padding: 120px 0px;
}

.gallryplus {
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    right: 50px;
    top: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    transform: scale(0.9);
    opacity: 1;
    transition: all 0.3s ease-in;
}

.carousel-caption {
    top: 350px;
}


.slider-capbg {
    background-color: rgba(0,0,0,0.1);
    width: 650px;
    padding: 10px;
}

.pagestu2 {
    line-height: 22px;
}

.saas_featured_info .saas_featured_item {
    padding: 50px 16px 50px 20px;
}

.breadcrumb_area .breadcrumb_shap {
    /*width: 100%;
    max-width: 100%;*/
}

.startup_tab .nav-item {
    width: calc(100% / 6);
    display: flex;
    flex: 1 auto;
    align-items: stretch;
    flex-flow: column;
}

    .startup_tab .nav-item:nth-child(6) .nav-link.active {
        border-color: #66fa77;
    }

    .startup_tab .nav-item:nth-child(6) .icon {
        background: #66fa77;
    }

    .startup_tab .nav-item .nav-link h3 {
        padding: 5px;
    }

.er_btn {
    margin-top: 30px;
    color: #fff;
}


/*Partner Logo*/
.plogo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: grayscale(0%);
}

    .plogo:hover {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all 0.5s ease;
    }

.service_item img {
    margin-right: -15px;
}
/*.owl-stage {
    width: 100% !important;
    transform: translate3d(-844px, 0px, 0px);
    transition: all 2s ease 0s;
}*/

/*menu*/
.hamburger-menu-wrepper.show-menu .animation-box .menu-box {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hometab {
    font-size: 14px !important;
}


/*Footer*/
.pos_footer_area {
    background: var(--logo-color);
    padding-top: 50px;
}

.h_footer_track {
    padding-bottom: 30px;
}

/*Header*/


.full_header {
    padding: 0px;
}

.navbar .offcanfas_menu {
    vertical-align: middle;
}

    .navbar .offcanfas_menu > .nav-item .nav-link::before {
        /*background: var(--logo-color);*/
        background: #ff6a00;
    }

    .navbar .offcanfas_menu > .nav-item .nav-link:hover {
        color: #ff6a00;
    }

    .navbar .offcanfas_menu > .nav-item.submenu.show .nav-link {
        color: #ff6a00;
    }

    .navbar .offcanfas_menu > .nav-item.submenu .dropdown-menu > .nav-item > .nav-link:hover {
        color: #ff6a00;
    }


.full_header .bar_menu span {
    /*background-color:var(--logo-color);*/
}

.header_area.navbar_fixed .bar_menu span {
    background-color: var(--logo-color);
}

.logoB {
    display: none;
}

.header_area.navbar_fixed .logoB {
    display: inline-block;
}

.header_area.navbar_fixed .logoW {
    display: none;
}


.software_service_tab .nav-item .nav-link.active {
    border-left-color: var(--logo-color);
    color: var(--logo-color);
}

.software_service_tab .nav-item .nav-link::before {
    border-color: transparent transparent transparent var(--logo-color);
}

.boxshadow {
    background: #fff;
    box-shadow: 0px 2px 8px 0px rgba(12, 0, 46, 0.04);
    padding: 20px 45px 20px 20px;
}

.boxshadowli {
    background: #fff;
    box-shadow: 0px 2px 8px 0px rgba(12, 0, 46, 0.04);
    width: 100%;
}

.analytices_logo > img {
    max-width: 100%;
    padding: 10px;
}


.service_details_img {
    margin-left: -50px;
}

.btn_get_two {
    background-color: var(--logo-color);
    border-color: var(--logo-color);
}

    .btn_get_two:hover {
        color: var(--logo-color);
    }

.contact_form_box .btn_three {
    background-color: var(--logo-color);
    border-color: var(--logo-color);
}

.login_area .login_info {
    padding: 60px 50px 60px 0px;
}

    .login_area .login_info::before {
        background: none;
    }


/*visit us address div classes*/
.cursor {
    cursor: pointer;
    color: #677294;
}

    .cursor:hover {
        color: var(--logo-color);
    }

.s_integration_item {
    color: #007bff;
    display: flex;
    flex: 1 auto;
    align-items: stretch;
    flex-flow: column;
}

.rowflex {
    display: flex;
    flex-flow: row;
    align-items: stretch;
}
/*company Profile div classes*/
.hosting_tab .nav-item {
    width: calc(100% / 4);
}

    .hosting_tab .nav-item .nav-link {
        line-height: 30px;
    }

        .hosting_tab .nav-item .nav-link.active {
            color: var(--logo-color);
        }

.security_inner {
    border: 0px;
}

.img-respo {
    width: 100%;
}


/* Client Crousal  */


.service_carousel .owl-item .service_item {
    box-shadow: none;
}

.service_carousel .owl-item {
    width: unset !important;
}


.support_testimonial_info .testimonial_slider .owl-item {
    padding: 0px;
}

.support_testimonial_info .testimonial_slider {
    background: none;
}

.owl-prev {
    display: none;
}

.owl-next {
    display: none;
}

.service_item {
    box-shadow: none;
    background: none;
    border: none;
}

.service_carousel .owl-next:hover {
    background-color: var(--logo-color) !important;
}


/*Login body*/
@media (min-width:320px) {
    /*Login body*/
    .yscrolll {
        overflow-y: auto;
    }

    .bar_menu {
        margin-top: 5px;
    }

    .nav-item > li {
        display: block;
        float: none;
    }

    .hamburger-menu-wrepper.show-menu .animation-box .menu-box {
        display: block !important;
    }
}

@media (min-width:480px) {
    .yscrolll {
        overflow-y: auto;
    }

    .bar_menu {
        margin-top: 10px;
    }

    .nav-item > li {
        display: block;
        float: none;
    }

    .hamburger-menu-wrepper.show-menu .animation-box .menu-box {
        display: block !important;
    }
}

@media (min-width:600px) {
    .yscrolll {
        overflow-y: auto;
    }

    .bar_menu {
        margin-top: 10px;
    }

    .nav-item > li {
        display: block;
        float: none;
    }

    .hamburger-menu-wrepper.show-menu .animation-box .menu-box {
        display: block !important;
    }
}

@media (min-width:801px) {
    .yscrolll {
        overflow-y: hidden;
    }

    .header_area_three {
        padding: 0px;
    }

    .bar_menu {
        margin-top: 10px;
    }

    .nav-item > li {
        display: block;
        float: none;
    }

    .hamburger-menu-wrepper.show-menu .animation-box .menu-box {
        display: block !important;
    }
}


@media (max-width:991px) {
    .yscrolll {
        overflow-y: hidden;
    }

    .navbar .offcanfas_menu > .nav-item .nav-link {
        font-size: 1rem;
    }

    .navbar .offcanfas_menu > .nav-item.submenu .dropdown-menu > .nav-item > .nav-link {
        font-size: 14px;
    }

    .header_area_three {
        padding: 0px;
    }

    .bar_menu {
        margin-top: 25px;
    }

    .nav-item > li {
        display: block;
        float: none;
    }

    .hamburger-menu-wrepper.show-menu .animation-box .menu-box {
        display: block !important;
    }

    .menu > .nav-item.submenu .dropdown-menu .nav-item:last-child, .menu > .nav-item.submenu.mega_menu .mega_menu_inner > .dropdown-menu > .nav-item:last-child {
        padding-bottom: 0px;
        margin-bottom: 10px;
    }

    .f_size_100 {
        font-size: 50px;
    }

    .sliderimg {
        object-fit: cover;
        height: 60vh;
    }

    .carousel-caption {
        top: 190px;
    }

    .slider-capbg {
        width: 280px;
    }

    .n_hover_content > h3 {
        margin-top: 40px;
    }

    .n_hover_content > p {
        margin-bottom: 38px;
    }

    .carousel-caption > .slider-capbg > h1 {
        font-size: 20px;
    }

    .carousel-caption > .slider-capbg > h2 {
        font-size: 25px;
    }

    .logoW {
        width: 50px;
    }

    .logoB {
        width: 50px;
    }

    .flogo {
        width: 70px;
    }

    .hamburger-menu-wrepper {
        left: 0;
        width: 100%;
    }

        .hamburger-menu-wrepper .animation-box .menu-box {
            width: 100%;
            overflow-x: hidden;
        }

    .navbar .offcanfas_menu {
        width: 100%;
        margin-top: 100px;
    }

    .hamburger-menu-wrepper.show-menu .animation-box .menu-box {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .breadcrumb_area .breadcrumb_shap {
        width: 100%;
        object-fit: cover;
        height: 50vh;
    }
}

@media (min-width:1025px) {
    .yscrolll {
        overflow-y: hidden;
    }

    .bar_menu {
        margin-top: 30px;
    }

    .hamburger-menu-wrepper.show-menu .animation-box .menu-box {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:1281px) {
    .yscrolll {
        overflow-y: hidden;
    }

    .bar_menu {
        margin-top: 30px;
    }

    .hamburger-menu-wrepper.show-menu .animation-box .menu-box {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:1920px) {
    .navbar .offcanfas_menu > .nav-item .nav-link {
        font-size: 1.9rem;
    }
}
/*@media (min-width:1366px) {
        .navbar .offcanfas_menu > .nav-item .nav-link {
            font-size: 1.6rem;
        }
    }

    @media (min-width:1280px) {
        .navbar .offcanfas_menu > .nav-item .nav-link {
            font-size: 1.4rem;
        }
    }*/



.breadcrumb_area .breadcrumb_shap {
    width: 100%;
}



.hover_content > .n_hover_content > h3 {
    padding-top: 50px !important;
}

p.pagestu2 {
    padding: 10px 0 50px 0;
    /* width: 500px;  */
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left !important;
    -ms-overflow-style: none;
}

    p.pagestu2::-webkit-scrollbar {
        display: none;
    }

IndexPageSec2 {
    padding: 10px 0 50px 0;
    /* width: 500px;  */
    text-align: justify;
    -ms-overflow-style: none;
}



/*LoginDashboard*/

.mb_190{
    margin-bottom:190px;
}
.prototype_service_info {
    height:auto;
    
}

.loginpad {
    padding: 190px 0px 190px 0px;
    margin: 190px 0px 100px 0px;
    height: calc(100vh - 150px);
}

@media (max-width:991px) {
    .prototype_service_info {
        
        height: calc(100vh - 150px);
        overflow-y: scroll;
    }
}

