/*Header navbar menu color */

:root {
    --logo-color: rgba(27, 18, 76,1);
}

/*.navbar {
    background-color: #fff;
}*/
.navbar-brand
{
    padding-top:1rem;
    padding-bottom:1rem;
}
.navbar .offcanfas_menu
{
    vertical-align:top;
}
.navbar .offcanfas_menu > .nav-item .nav-link::before
{
    background: var(--logo-color);
}
.full_header .bar_menu span
{
    background-color:var(--logo-color);
}
/*.w_menu .nav-item .nav-link {
    color: var(--logo-color);
}

.w_menu .nav-item:hover .nav-link, .w_menu .nav-item.active .nav-link {
    color: var(--logo-color);
}

.menu > .nav-item:hover .nav-link, .menu > .nav-item.active {
    color: var(--logo-color);
}

.menu > .nav-item.submenu:hover .dropdown-menu .nav-item .nav-link {
    color: var(--logo-color);
}*/

.btn_get_two {
    background-color: var(--logo-color);
    border-color: var(--logo-color);
}

    .btn_get_two:hover {
        color: var(--logo-color);
    }

.contact_form_box .btn_three {
    background-color: var(--logo-color);
    border-color: var(--logo-color);
}

.login_area .login_info {
    padding: 60px 50px 60px 0px;
}

.login_area .login_info::before {
    background: none;
}


/*visit us address div classes*/
.cursor {
    cursor: pointer;
    color: #677294;
}

    .cursor:hover {
        color: var(--logo-color);
    }

.s_integration_item {
    color: #007bff;
    display: flex;
    flex: 1 auto;
    align-items: stretch;
    flex-flow: column;
}

.rowflex {
    display: flex;
    flex-flow: row;
    align-items: stretch;
}
/*visit us address div classes*/




/*Login body*/
@media (min-width:320px) {
    /*Login body*/
    .yscrolll {
        overflow-y: auto;
    }
    .bar_menu{
        margin-top:5px;
    }
}

@media (min-width:480px) {
    .yscrolll {
        overflow-y: auto;
    }
    .bar_menu{
         margin-top:20px;
    }
}

@media (min-width:600px) {
    .yscrolll {
        overflow-y: auto;
    }
    .bar_menu{
         margin-top:20px;
    }
}

@media (min-width:801px) {
    .yscrolll {
        overflow-y: hidden;
    }
    .header_area_three
    {
        padding:0px;
    }
    .bar_menu{
         margin-top:20px;
    }
}
@media (max-width:991px) {
    .yscrolll {
        overflow-y: hidden;
    }
    .header_area_three
    {
        padding:0px;
    }
    .bar_menu{
        margin-top:20px;
    }
}
@media (min-width:1025px) {
    .yscrolll {
        overflow-y: hidden;
    }
    .bar_menu{
        margin-top:40px;
    }
}

@media (min-width:1281px) {
    .yscrolll {
        overflow-y: hidden;
    }
    .bar_menu{
        margin-top:40px;
    }
}
